.editdiv{display: none;}
/*.parentdiv{background-color: lightblue;
		position: relative;
		display: grid;
		grid-template-columns:25% 25% 25% 25%;
		grid-gap: 1%;
		padding:1%;
		}*/
.proddiv{text-align: center;}
.itemdetailparentdiv{display: grid;
					grid-template-columns: 50% 30%;
					background: lightblue;
					min-height: 800px;
					text-align: center;}

.editdiv2	{width: 200px;
		 	
		}
.delprodphoto {
			position: absolute;
			margin-left: 40%;
			transition: 1s;
			z-index: 999;
			cursor: pointer;
}
.delprodphoto:hover{
		color:red;
}
.plus,.minus{cursor: pointer;}
.blockdiv{display: none;}
.gnel{position: relative;
	left: 93%;}
.closenote,.sms,.sendsms{font-size: 25px;
			transition: 0.3s;
			cursor: pointer;}

.closenote,.sms,.sendsms:hover{color: red;}
.feediv,.feedbacksdiv,.smsdiv{display: none;}
.feedbacksdiv{border: 2px solid #69b2ca}
#imageInput{display: none;}
.avdiv{
	width: 300px;
	height: 300px;
	border-radius: 150px;
	background-color: red;
	border:4px solid #28a745;
}
